<h1>Upcoming Events</h1>
<ul>
  <% Event.upcoming.each do |event| %>
    <li>
      <%= link_to event do %>
        <%= event.title %>
      <% end %>
    </li>
  <% end %>
</ul>

<h1>Past Events</h1>
<ul>
  <% Event.past.each do |event| %>
    <li>
      <%= link_to event do %>
        <%= event.title %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Create event", new_event_path %>