<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav>
      <%= link_to "Events", root_path %>
      <%= link_to "Profile", current_user %>
      <% if current_user %>
        <%= button_to "Logout", destroy_user_session_path, method: :delete, data: { turbo: false } %>
      <% else %>
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
